<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data plot and prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="title">Vandal/Phantom data graphing and prediction</h1>
        <form action="/" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="dataset">Choose dataset:</label>
            <select name="dataset" id="dataset" class="custom-select">
                <option value="sample">Use Sample Data</option>
                <option value="upload">Upload Your Own Excel</option>
            </select>
            <br><br>
            <input type="file" name="file" id="file" accept=".xlsx" class="custom-file-input">
            <br><br>
            <input type="submit" value="Submit" class="submit-button">
        </form>
        {% if plot_url %}
            <div class="plot-container">
                <img src="{{ plot_url }}" alt="Plot" class="plot-image">
            </div>
        {% endif %}
    </div>
</body>
</html>
